!!! 5
html(manifest="/#{namespace}/appcache.manifest")
	head
		title FT Labs - Offline IFRAME Hack
	body
		script !{js}
		p FT Labs - Offline IFRAME Hack
		a(href="http://labs.ft.com/category/tutorial/") To learn why this is needed, follow our 'How to make an FT style offline web app' tutorial on our website.